@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Moon+Dance&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  font-family: sans-serif;
  color: #354358;
}
